.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 280px;
    padding: 24px;
    border-radius: 12px;
    background-color: #fff;

    .title {
      margin-bottom: 40px;
      font-weight: 600;
    }

    .button {
      margin-inline: auto;
    }
  }
}
